@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restuarant Rater is an ASP.NET MVC (Model, View, Controller) web application that allows users to create, view, and delete restaurant reviews.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To get started, click the "Sign Up" button, and create a user account.
        </p>
        <p><a class="btn btn-default" href="">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find restaurants to review</h2>
        <p>Can't remember the name or location of the restaurant you want to review? Use Google to find them!</p>
        <p><a class="btn btn-default" href="https://google.com">Search &raquo;</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
</div>